<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%file , %line])  %logger - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>amp-1.0.0.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                amp.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%file , %line])  %logger[36] -
                    %msg%n
                </Pattern>
            </layout>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="pers.zhangzhijun.amp" level="DEBUG">
        <appender-ref ref="CONSOLE"></appender-ref>
    </logger>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="CONSOLE"></appender-ref>
    </logger>

    <logger name="system.out.println" level="DEBUG">
        <appender-ref ref="CONSOLE"></appender-ref>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="CONSOLE"></appender-ref>
        <!--<appender-ref ref="FILE"></appender-ref>-->
    </root>

</configuration>